@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #f6f7f8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101922;
    --foreground: #ededed;
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), 'Space Grotesk', sans-serif;
}

.dark {
  --background: #101922;
  --foreground: #ededed;
}
